.header {
  padding: 25px 35px;
  background-color: #ffcdc5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
  color: white;
  font-size: 1.4rem;
  font-weight: 800;
}

.refreshBtn {
  background: white;
  border: none;
  padding: 8px 18px;
  border-radius: 50px;
  color: #ff8a8a;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.1s;
}

.refreshBtn:hover {
  transform: scale(1.05);
}

.refreshBtn:active {
  transform: scale(0.98);
}
