.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.loadingText {
  margin-top: 15px;
  font-size: 1rem;
  color: #666;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table th {
  padding: 15px;
  color: #d68a7f;
  font-size: 1rem;
  border-bottom: 2px solid #ffcdc5;
  text-align: center;
}

.table td {
  padding: 15px;
  background-color: #ffffff;
  border-top: 1px solid #fff0ef;
  border-bottom: 1px solid #fff0ef;
  text-align: center;
  vertical-align: middle;
}

.table tr td:first-child {
  border-left: 1px solid #fff0ef;
  border-radius: 15px 0 0 15px;
}

.table tr td:last-child {
  border-right: 1px solid #fff0ef;
  border-radius: 0 15px 15px 0;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.employeeNumber {
  font-weight: bold;
  color: #ff8a8a;
}

.empName {
  font-weight: 800;
  color: #ff8a8a;
}

.badge {
  background-color: #fff0ef;
  padding: 4px 10px;
  border-radius: 8px;
  color: #d68a7f;
  font-size: 0.85rem;
}

.baseSalary {
  color: #aaa;
  font-size: 0.9rem;
}

.accumSalary {
  color: #d63384;
  font-weight: bold;
}

.deductionSalary {
  color: #ff4d4d;
  font-weight: 900;
  font-size: 1.05rem;
}

.leaveBtn,
.sickBtn {
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s;
}

.leaveBtn {
  background-color: #ffefef;
  color: #ff8a8a;
}

.sickBtn {
  background-color: #f5f5f5;
  color: #888;
}

.leaveBtn:hover {
  background-color: #ff8a8a;
  color: white;
}

.sickBtn:hover {
  background-color: #ddd;
  color: #333;
}
